.start-menu {
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}

.start-menu button {
  margin: 10px;
  background: #dbdee0;
  width: 330px;
  height: 100px;
  font-size: 40px;
}