<div class="location-list">
  <h2>LOCATIONS</h2>
  <ol class="list">
    <li>Airplane</li>
    <li>Bank</li>
    <li>Beach</li>
    <li>Broadway Theater</li>
    <li>Casino</li>
    <li>Cathedral</li>
    <li>Circus Tent</li>
    <li>Corporate Party</li>
    <li>Crusader Army</li>
    <li>Day Spa</li>
    <li>Embassy</li>
    <li>Hospital</li>
    <li>Hotel</li>
    <li>Military Base</li>
    <li>Movie Studio</li>
    <li>Ocean Liner</li>
    <li>Passenger Train</li>
    <li>Pirate Ship</li>
    <li>Polar Station</li>
    <li>Police Station</li>
    <li>Restaurant</li>
    <li>School</li>
    <li>Service Station</li>
    <li>Space Station</li>
    <li>Submarine</li>
    <li>Supermarket</li>
    <li>University</li>
  </ol>
</div>