<div class="instructions-container">
  <h3>Spyfall is a game of intrigue, deception and silly questions! It's a lot of fun for groups of 3-7 people!</h3>

    <p>
      You are all on the same team, except for one person who is chosen to be a spy. You only know who you are! You have
      no idea about anyone else.
    </p>
    <p>
      The team shares the same location with different roles. The spy doesn't know the location, and it's their job to
      learn the location!
    </p>
    <p>
      The most suspicious looking player goes first! He should ask any other player a question. There's no restriction
      what it can be. Whoever has been asked will be the next asker, and he/she can choose to question anyone he/she wants. Repeat this process to determine which of
      your teamates is the spy, or try to guess the location if you're a spy.
    </p>
    <p>
      When the time runs out, the spy should reveal themself, and take a guess at the location.
      If he's correct, he wins.
      Else, he loses immediately. After that the team will vote for who they think is a spy. If the majority of them vote
      for the wrong person, the spy wins. Otherwise the team wins.
    </p>
    <p>
      The voting/guessing can also be done during the middle of the game.
    </p>

    <button routerLink="/">BACK</button>

</div>