.new-game-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  flex-flow: column;
}

.new-game-menu__buttons{
  width: 350px;
  size: 50%;
  display: flex;
  justify-content: center;
  justify-content: center;
}

input {
  width: 350px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.new-game-menu__buttons button {
  margin: 10px;
  background: #dbdee0;
  width: 170px;
  height: 100px;
  font-size: 50px;
}

.input-text {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
}