.player-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #555555;
  border-radius: 15px;
  height: 200px;
  padding: 0px;
  margin-top: 10px;
}

.player-list h2 {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.player-list__list{
  margin:0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.player-list__list ul{
  width:350px;
  list-style: none;
  font-size: 15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  }

  img {
    height: 40px;
  }

 .player-list__list__element {
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 li {
   width: 25%;
   margin-bottom: 10px;
 }





